*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-color: rgb(58, 98, 58);
    background-image: url('"C:\Users\Dheena\Desktop\internships\coders cave [ WEB DEVELOPEMENT ]\coders cave\URL-Shortener\Icon\th (1).jpeg"'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    position: relative;
    background-color: rgb(101, 99, 229);
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border: 5px solid rgb(147, 23, 60);
    border-radius: 20px;
}

#longurl{
    position: relative;
    top: 40%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    position: relative;
    top: 40%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: purple;
}

#shorten:hover{
    background-color: skyblue;
}

#shorturl{
    position: relative;
    top: 45%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top: 46%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: purple;
}

#copy:hover{
    background-color: skyblue;
}

.main p{
    /* background-color: white; */
    position: relative;
    top: 30%;
    left: 13%;
    height: 60px;
    width: 400px;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(69, 185, 40);
}

